.text-xs {
    font-size: 0.65rem;
}

.text-sm {
    font-size: 0.85rem;
}

.text-md {
    font-size: 1.00rem;
}

.navigationBar:hover{
    color: blue;
}

.navigationBarLine:hover{
    background-color: blue;
    height:2rem;
}

.navigationBar:active{
    background-color: aquamarine;
}
